:root {
  /* Colors */

  --coffee: #925a39;
  --coffee-hover: #7e4d31;
  --coffee-light: rgb(146, 90, 57, 0.8);
  --white: #fff;
  --black: #000;
  --dark: #252525;
  --gray: #f5f5f5;
  --gray-dark: #e5e5e5;
  --gray-light: #f5f5f5;

  /* Font Family */

  --main-font: "Poppins", sans-serif;
  --title-font: "bakerie", sans-serif;

  /* Box Shadow */

  --shadow-light: 0 0 10px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 0 12px rgba(0, 0, 0, 0.4);
}

.title-font {
  font-family: var(--title-font);
}

.bg-coffee {
  background-color: var(--coffee);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.text-coffee {
  color: var(--coffee);
}

.text-coffee:hover {
  color: var(--coffee-hover);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.btn-coffee {
  background-color: var(--coffee-hover);
  color: var(--white);
  font-size: 1.6rem;
  padding: 8px 10px;
}

.btn-coffee:hover {
  background-color: var(--coffee);
  color: var(--white);
}

.btn-white {
  background-color: transparent;
  border: 1px solid var(--white) !important;
  color: var(--white);
  font-size: 1.6rem;
  padding: 8px 10px;
}

.btn-white:hover {
  background-color: var(--white);
  color: var(--black);
}

.btn-cancel {
  background-color: var(--gray-dark);
  color: var(--black);
  font-size: 1.6rem;
  padding: 8px 10px;
}

.btn-cancel:hover {
  /* make a little bit dark */
  background-color: var(--white);
}

.alert-er {
  position: absolute;
  top: 80px;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .alert-er {
    top: 95px;
  }
}

.animation-left {
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.animation-right {
  -webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.animation-top {
  -webkit-animation: slide-in-blurred-top 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.animation-join {
  -webkit-animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
