.form-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
}

.contact-me {
  display: flex;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: space-evenly;
}

.ubi-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: max-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.ubi-card .card-header {
  width: 100%;
  padding: 20px 0;
}

.ubi-card .card-body {
  padding: 30px 0;
}

.ubi-card {
  transition: all 0.5s ease;
}

.ubi-card:hover {
  box-shadow: var(--shadow-dark);
  transition: all 0.5s ease;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: max-content;
  align-items: center;
  justify-content: center;
}

.cuentanos-de-ti textarea {
  max-height: 100px;
}

.form-title-section h1 {
  font-size: 3rem;
  text-align: center;
  padding: 0 2rem;
}

.form-title-section {
  margin-bottom: 2rem;
}

.ubication-container {
  display: flex;
  width: 70%;
  height: max-content;
  align-items: center;
  justify-content: center;
  background-color: var(--coffee);
  box-shadow: var(--shadow-light);
  border-radius: 10px;
  overflow: hidden;
  padding: 0 40px;
}

iframe {
  width: 800px !important;
  height: 400px !important;
}

@media screen and (max-width: 768px) {

  .contact-me {
    width: 100%;
    flex-direction: column;
    padding: 0 40px;
  }

  .contact-me .ubi-card {
    width: 100%;
    margin: 2rem !important;
  }

  .ubication-container {
    width: 100%;
    flex-direction: column;
    padding: 20px;
    border-radius: 0;
  }

  .map-content{
    margin-top: 20px;
  }

  .form-container {
    width: 100%;
  }

  .ubi-btn-container button {
    width: 100%;
  }

  iframe {
    width: 90vw !important;
    height: 400px !important;
    margin-top: 10px;
  }
}
